<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="description" content="description of your site"/>
    <meta name="author" content="author of the site"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>插件</title>
    <link rel="stylesheet" href="{$Think.config.resouce.css}/bootstrap.min.css"/>
    <link rel="stylesheet" href="{$Think.config.resouce.css}/bootstrap-responsive.css"/>
    <script src="{$Think.config.resouce.js}/jquery.min.js"></script>
    <script src="{$Think.config.resouce.js}/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{$Think.config.resouce.css}/styles.css"/>
    <link rel="stylesheet" href="{$Think.config.resouce.js}/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="{$Think.config.resouce.js}/kindeditor/themes/simple/simple.css" />
    <script charset="utf-8" src="{$Think.config.resouce.js}/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="{$Think.config.resouce.js}/kindeditor/lang/zh_CN.js"></script>
    <script>
        KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id');
        });

    </script>
</head>
<body>
<div id="append_parent"></div>
<!-- 顶部 -->
<div class="top-menu">
    <div class="container">
    </div>
</div>
<!-- 顶部结束-->
<!-- 菜单栏 -->
{include file="common/header" /}
<!-- 菜单栏结束-->
<!-- 中心内容 -->
<div class="single-page clearfix">
    <div class="bm_c">
        <ul class="step cl">
            <li class="a"><em>1</em>
             <?php if($appid==0): ?>
                <p>添加插件</p></li>
             <?php elseif($appid==1): ?>
                <p>添加模板</p></li>
            <?php else: ?>
                <p>添加扩展</p></li>
            <?php endif; ?>
            <li class="arrow">›</li>
            <li><em>2</em>
                <p>添加版本</p></li>
            <li class="arrow">›</li>
            <li><em>3</em>
                <p>安全检查</p></li>
            <li class="arrow">›</li>
            <li><em>4</em>
                <p>提交审核</p></li>
            <li class="arrow">›</li>
            <li><em>5</em>
                <p>等待审核</p></li>
            <li class="arrow">›</li>
            <li><em>6</em>
                <p>应用上线</p></li>
        </ul>
    </div>
    <form method="post" action="/index/myapp/addTemplate" enctype="multipart/form-data">
        <table class="tfm mbm">
            <tbody>
            <tr><?php if($appid==0): ?>
                <th>插件标识</th>
                <?php elseif($appid==1): ?>
                <th>模板标识</th>
                <?php else: ?>
                <th>添加扩展标识</th>
                <?php endif;?>
                <td><input type="text" name="remark" class="px1" value=""></td>
                <td class="xg1">
                    请输入新模板的标识，模板的标识将对应 template/ 目录下的目录名
                    <br>必须以字母开头且只能包含字母、数字和下划线，最多 40 个字节
                </td>
            </tr>
            <tr>
             <?php if($appid==0): ?>
                <th>插件名称</th>
            <?php elseif($appid==1):?>
                <th>模板名称</th>
            <?php else:?>
                <th>扩展名称</th>
            <?php endif;?>
                <td><input type="text" name="name" class="px1"></td>
                <td class="xg1">请填写模板的名称，名称中不要包含版本号，最多 18 个字节</td>
            </tr>
            <tr>
            <?php if($appid==0):?>
                <th>插件预览图</th>
            <?php elseif($appid==1):?>
                <th>模板预览图</th>
            <?php else: ?>
                <th>扩展预览图</th>
             <?php endif;?>
                <td><input type="file" name="logo" class="pf" size="40"></td>
                <td class="xg1">上传模板的预览图片，请用形象的图片展示出您模板的效果，可直接上传您模板目录中的 preview.jpg 文件<br>图片大小: 220x240<br>图片格式: JPG
                </td>
            </tr>
            <tr>
                <th>应用介绍</th>
                <td colspan="2">
                    <div class="tedt" style="width:650px">
                          <textarea id="editor_id" name="content" style="width:700px;height:160px;">
                              &lt;strong&gt;HTML内容&lt;/strong&gt;
                          </textarea>
                    </div>
                    <div id="memopreview" class="tpv"></div>
                    <p class="xg1">建议您简要的阐述此模板的具体功能。安装方法、使用手册等内容建议在“说明文档”添加并关联为常用文档</p>
                </td>
            </tr>
            <tr>
            <?php if($appid==0):?>
                <th>插件截图</th>
            <?php elseif($appid==1):?>
                <th>模板截图</th>
            <?php else: ?>
                <th>扩展截图</th>
            <?php endif;?>
                <td>
                    <div class="bupload mbm">
                        <input type="file" name="previewnew[]" class="pf" size="40">
                    </div>
                    <div class="bupload mbm">
                        <input type="file" name="previewnew[]" class="pf" size="40">
                    </div>
                    <div class="bupload mbm">
                        <input type="file" name="previewnew[]" class="pf" size="40">
                    </div>
                    <div class="bupload mbm">
                        <input type="file" name="previewnew[]" class="pf" size="40">
                    </div>
                    <div class="bupload mbm">
                        <input type="file" name="previewnew[]" class="pf" size="40">
                    </div>
                </td>
                <td class="xg1">请上传应用实际效果的截图<br>图片大小: 宽度大于 600<br>图片格式: JPG</td>
            </tr>
            <tr>
                <th>正版保护<input type="radio" name="genuine" class="pr" value="0"
                                             checked="checked">否</label>
                </td>
                <td class="xg1">设置是否启用应用的正版保护机制，开启后所有不通过本平台安装的应用将无法安装和使用</td>
            </tr>
            <tr>
                <th></th>
                <td colspan="2">
                    <button type="submit"  class="pn pnc" value="true"><strong>提 交</strong></button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<!-- 中心内容结束-->
<!-- 页脚 -->
{include file="common/footer" /}
<!-- 页脚结束 -->
</body>
</html>