<div class="top-nav clearfix">
    <div class="nav-center clearfix">
        <div class="logo"><img src="{$Think.config.resouce.images}/CMS_03.png"></div>
        <div class="nav-bar clearfix">
            <ul class="clearfix">
                <li><a href="/index/index" class="actived" id="change">首页</a></li>
                <li><a href="/apply/index/index"  id="change">我的应用</a></li>
                <li><a href="/index/document" id="change">开发文档</a></li>
                <li><a href="#" id="change">技术论坛</a></li>
            </ul>
        </div>
        <div class="user">
            <ul>
                <li><a href="#">提醒 | </a></li>
                <li><a href="#">小c | </a></li>
                <li><a href="#">退出 | </a></li>
            </ul>
        </div>
    </div>
</div>
